<div class="row center cyan lighten-3"
style="margin: 3em; padding: 2em; border-radius: 1em;">

<h1 class="header center light indigo-text text-accent-1">Sobre Nosotros</h1>

    <div class="col s10 m5">
      <div class="card center">
        <div class="card-image">
          <img src="/1.png"  class="circle responsive-img">
        </div>
        <div class="card-content">
          <p>Hernandez Lara Jose Ezequiel</p>
        </div>
        <div class="card-content">
          <p>Estudiante de 9 Semestre.</p>
          <p>Lorem.</p>
        </div>
      </div>
    </div>

     <div class="col left s10 m5">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s5">
              <img src="/favicon.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                ProjNotes aplicacion para registar tus proyectos 
              </span>
            </div>
          </div>
        </div>
      </div>
</div>